{% extends 'templates/layout.twig' %}
{% block content %}

<!-- HEADER -->
<div class="site">

	<header class="site-header">

		<div class="heroe">

			<h1>API Server</h1>

			<p>The RESTful API with slim framework.</p>

			<h2>One-Time Key</h2>

			<p><pre><code>{{api_key}}</code></pre></p>

			<ul>
				<li><a href="{{home_url}}/author?key={{api_key}}">Author API</a></li>
				<li><a href="{{home_url}}/product?key={{api_key}}">Product API</a></li>
			</ul>

		</div>
	</header>

	<footer class="site-footer">

		<div class="copyrights">

			<p>&copy; API &#124; el.kulo</p>

		</div>

	</footer>

</div>

{% endblock %}