{% extends 'templates/layout.twig' %}
{% block content %}

<!-- HEADER -->
<div class="site">

  <main class="heroe">

    <h1>API Server</h1>

    <p class="heroe__description">The RESTful API with slim framework.</p>

    <h2>One-Day Key</h2>

    <div class="api-key"><span>{{api_key}}</span></div>

    <ul>
      <li><a href="{{home_url}}/author?key={{api_key}}">Author API</a></li>
      <li><a href="{{home_url}}/product?key={{api_key}}">Product API</a></li>
    </ul>

  </main>
  <footer class="site-footer">

    <div class="copyright">&copy; API &#124; el.kulo</div>

  </footer>

</div>

{% endblock %}